services:
  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./data:/data
      - ./static:/app/static:ro      
    environment:
      - ARTIFACT_DIR=/data/artifacts


  chroma:
    image: ghcr.io/chroma-core/chroma:latest
    ports:
      - "8001:8000"
    volumes:
      - ./chroma:/data
    environment:
      CHROMA_HOST: chroma
      CHROMA_PORT: 8000


  minio:
    image: minio/minio
    command: server /data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
    volumes:
      - ./minio:/data
